.button.user-info__edit-button {
    display: flex;
    font-size: 18px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

@media screen and (max-width: 980px) {
    .user-info__edit-button {
        position: static;
        align-self: center;
    }
}