<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mesto</title>
    <link rel="stylesheet" href="/src/pages/style.css">
</head>

<body>
    <div class="root">
        <header class="header root__section">
            <img src="./images/logo.svg" alt="mesto logo" class="logo">
        </header>
        <div class="profile root__section">
            <div class="user-info">
                <div class="user-info__photo"></div>
                <div class="user-info__data">
                    <h1 class="user-info__name"></h1>
                    <p class="user-info__job"></p>
                    <button class="button user-info__edit-button">Edit</button>
                </div>

                <button class="button user-info__button">+</button>
            </div>
        </div>
        <div class="places-list root__section">
            <!-- Шаблон разметки карточки -->
            <!-- <div class="place-card" >
      <div class="place-card__image" style="background-image: url(https://pictures.s3.yandex.net/frontend-developer/cards-compressed/kamchatka.jpg)">
        <button class="place-card__delete-icon"></button>
      </div>
      <div class="place-card__description">
        <h3 class="place-card__name">testtest</h3>
        <div class="place-card__like-container">
            <span class="place-card__like-count">0</span>           
            <button class="place-card__like-icon"></button>
        </div>
      </div>
    </div> -->

        </div>


        <div class="insert-fragment"></div>
        <!-- Шаблон разметки попака картинки  -->
        <!-- <div class="popup popup_is-opened">
    <div class="popup__content place-card__popup" style="background-image: url(https://pictures.s3.yandex.net/frontend-developer/cards-compressed/kamchatka.jpg)">
        <img src="./images/close.svg" alt="" class="popup__close">
    </div>
</div> -->
        <div class="popup-form">
            <div class="popup popupAdd">
                <div class="popup__content">
                    <img id="formAddClose" src="./images/close.svg" alt="" class="popup__close">
                    <h3 class="popup__title">Новое место</h3>
                    <form id="formAdd" class="popup__form" name="new">
                        <input required id="formAddName" type="text" maxlength="30" name="name"
                            class="popup__input popup__input_type_name" placeholder="Название">
                        <span id="errorAddName" class="error" aria-live="polite"></span>
                        <input id="formAddUrl" required type="url" name="link"
                            class="popup__input popup__input_type_link-url" placeholder="Ссылка на картинку">
                        <span id="errorAddUrl" class="error" aria-live="polite"></span>
                        <button id="addSbmBtn" type="submit" class="button popup__button" disabled>+</button>
                    </form>
                </div>
            </div>



            <div class="popup popupEdit">
                <div class="popup__content">
                    <img id="formRegClose" src="./images/close.svg" alt="" class="popup__close">
                    <h3 class="popup__title">Редактировать профиль</h3>
                    <form novalidate id="formReg" class="popup__form" name="profile">
                        <input id="formRegName" type="text" required maxlength="30" name="name"
                            class="popup__input popup__input_type_name" placeholder="Имя">
                        <span id="errorName" class="error" aria-live="polite"></span>
                        <input id="formRegJob" type="text" required maxlength="30" name="job"
                            class="popup__input popup__input_type_name" placeholder="О себе">
                        <span id="errorJob" class="error" aria-live="polite"></span>
                        <button id="sbmBtn" type="submit" class="button popup__button" disabled>Сохранить</button>
                    </form>
                </div>
            </div>

            <div class="popup popupAvatar">
                <div class="popup__content">
                  <img id="formAvatarClose" src="./images/close.svg" alt="" class="popup__close">
                  <h3 class="popup__title">Обновить аватар</h3>
                  <form id="avatarUrl" class="popup__form" name="avatar">
                    <input id="inputAvatarUrl" required type="url" name="link" class="popup__input popup__input_type_link-url" placeholder="Ссылка на картинку">
                    <span id="errorAvatarUrl" class="error" aria-live="polite"></span>
                    <button id="avatarSbmBtn" type="submit" class="button popup__button" disabled>+</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    <script type="module" src="/dist/main.js"></script>
</body>

</html>